@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
h1 {
  font-size: 2.6em;
  line-height: 1.2;
}
p {
  font-size: 1em;
  line-height: 1.6;
}
.txt-white {
  color: #fff;
}
header {
  height: 100vh;
  width: 100%;
  background-image: url(../imgs/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wraper-container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 340px;
  text-align: center;
  margin-top: -150px;
}
.logo-header {
  max-width: 140px;
}
header h1 {
  margin: 15px auto 20px;
  text-transform: capitalize;
  font-weight: 700;
  text-shadow: #000 0 0 80px;
}
header p {
  text-shadow: #000 0 0 50px;
  font-weight: 500;
}
.wraper-list-features {
  background: #333;
}
.list-features {
  display: flex;
}
.list-features-items {
  padding: 10px 20px;
  text-align: center;
}
.fab, .fas {
  font-size: 3.6em;
}
.list-features-items .fab,
.list-features-items .fas {
  margin-bottom: 10px;
}
.title-lvl-2 {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 600;
}
.container {
  padding: 60px 0;
  width: 100%;
  max-width: 1140px;
  margin: auto;
}
.about-us-block {
  display: flex;
}
.fa-laptop-code {
  font-size: 140px;
  width: 30%;
  padding: 0 15px;
  text-align: center;
}
.about-us-txt-block {
  width: 70%;

}
